server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
- job_name: nextjs_app
  static_configs:
  - targets:
      - localhost
    labels:
      job: nextjs_app
      __path__: /app/logs/*.log
  pipeline_stages:
    - json:
        expressions:
          level: level
          msg: msg
          time: time
          prompt: prompt
          error: error
    - labels:
        level:
